body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #f1f2ed;
}
/*header*/
.header{
	width:100%;
    height: 130px;
    background: white;
    /*position: sticky;
    top:0px;
    left: 0px;
    z-index: 7;
    background: white;*/
}
.header img{
    width: 184px;
    height: 72px;
    margin-left: 10px;
    padding-top: 35px;
}
.rightTop{
    width: 352px;
    height: 46px;
    float: right;
    margin-right: 10px;
}
.rightTop img{
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    padding-top: 15px;
}
.rightTop ul li{
    display: inline;
    float: left;
    color: #9b9b9b;
}
.rightTop a{
    float: left;
    line-height: 46px;
    padding-right: 10px;
    font-weight: bold;
}
.rightTop a:hover li{
    color: #c8192e;
}

.bottonC{
    width:950px;
    height: 68px;
    float: right;
    margin-top: -50px;
}
.bottonC li img{
    width: 9px;
    height: 6px;
}
.bottonC ul{
    display: flex;
    justify-content: space-around;
}
.bottonC li{
    margin-right: 8px;
    font-weight: bold;
}
.rightBottom{
    width: 180px;
    height: 28px;
    border:1px solid #d2d2d2;
    line-height: 28px;
    color:  #d2d2d2;
    margin-right: 5px;
    margin-top: 20px;
}
ul li a{
    color: black;
}
ul a:hover{
    color:#c8192e;
}
.rightBottom img{
    display: inline;
    width: 16px;
    height: 14px;
    margin-left: 70px;
    margin-top: -28px;
}
.San{
    display: block;
    width: 0;
    height: 0;
    border:10px solid transparent;
    border-bottom-color: black;
    position: relative;
    top: 5px;
    left: 40px;
    display: none;
}
.noneS{
    width: 100%;
    height: 184px;
    background:black;
    position: absolute;
    left: 0;
    top: 130px;
    display: none;
}
li:hover .noneS{
    display: block;
}
li:hover .San{
    display: block;
}
.leftt{
    float: left;
    width: 50%;
    height: 100%;
}
.leftt a{
    margin-right: 50px;
    line-height: 184px;
    color: white;
}
.rightt{
    float: left;
    width: 25%;
    padding-top: 52px;
}
.rightt a{
    display: block;
    line-height: 34px;
    color: blue;
}
.rightt a:nth-child(1){
    color: white;
}
.w2{
    height: 118px; 
}
.lef a{
    line-height: 118px;
}
.w3{
    height: 405px;
}
.le3{
    width: 255px;
    height: 280px;
    margin-top: 50px;
}
.le3 a{
    display: block;
    line-height: 25px;
    margin-left: 85px;
    font-weight: normal;
    color: blue;
}
.le3 .yS{
    color: white;
}
.le4{
    padding-top: 0px;
}
.w4{
    height: 310px;
}
.le5{
    width: 572px;
    height: 100%;
}
.le5 a{
    line-height: normal;
}
#ims img{
    width: 316px;
    height: 210px;
    display: block;
    padding-top: 0px;
}
#ims{
    width: 30%;
    height: 100%;
}
#ims .imga{
    margin-left: 210px;
}


// second
.second{
    width: 100%;
    height: 16px;
    background:black;
    font-size: 12px;
    color:#589bc6;
 }


//  three
.three{
    width: 100%;
}
 .banner{
    width: 100%;
    height: 90px;
    border-bottom: 1px dashed #d7d8d4;
    background: green;
}
.banner a{
   float: left;
   text-indent: 16px;
   color: blue;
   line-height: 70px;
}
.banner a:last-child{
    color: #646895;
}
.banner span{
    color: #d7d8d4;
}
.banner a:hover{
    color: red;
}
.aside{
    width: 434px;
    padding-bottom: 100px;
    padding-top: 25px;
    float: left;
}
.asideLeft{
    width: 385px;
    margin-left: 16px;
}
.box {
    width: 100%;
    height: 320px;
    li{
        width: 100%;
        height: 62px;
        background: white;
        border-bottom: 2px dashed #d7d8d4;
        text-indent: 20px;
        line-height: 62px;
        font-size: 18px;
        font-weight: bold;
        span{
            float: right;
            margin-right: 16px;
        }
        .tab{
            width: 100%;
            height: 256px;
            background: white;
            // display: none;
            .fanK{
                width: 54px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                text-indent: 0;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                border:1px solid #d2d2d2;
                a{
                    font-size: 16px;
                    font-weight: 100px;
                    color: #58a8d7;
                }
            }
            .dt{
                width: 68px;
            }
            .kt{
                width: 80px;
            }
        }
    }
}
.fanK:hover a{
    color: red;
}
.box{
    .wone{
        float: left;
        .tab1{
            .tt{
                width: 40px;
            }
            .ks{
                width: 52px;
            }
            .kb{
                width: 45px;
            }
        }
    }
}

.asideRigth{
    width: 900px;
    height: 100%;
    float: right;
    padding-top: 25px;
    padding-bottom: 100px;
    #cha{
        width: 138px;
        height: 48px;
        background: black;
        color: white;
        clear: both;
        margin: 0px auto;
        line-height: 48px;
        text-align: center;
    }
    .boxone{
        width: 280px;
        height: 432px;
        padding-bottom: 25px;
        float: left;
        margin-right: 18px;
        .imgs{
            position: relative;
            img{
                display: block;
                width: 280px;
                height: 280px;
            }
            .hac{
                width: 180px;
                height: 50px;
                background: red;
                color: white;
                font-size: 18px;
                text-align: center;
                line-height: 50px;
                position: absolute;
                top:207px;
                left: 62px;
                display: none;
            }    
        } 
        .boty{
            width: 100%;
            height: 154px;
            h3{
                font-size: 18px;
                padding-top: 15px;
                padding-bottom: 22px;
                text-align: center;
            }
            .tg{
                padding-bottom: 0;
            }
            a{
                display: block;
                text-align: center;
                color: #589bc6;
            }
        }
    }

}
.asideRigth .boxone:hover .hac{
    display: block;
}
.boxone .imgs .hac:hover {
    background: rgb(46, 45, 45);
}
.boxone .boty:hover h3:first-child{
    color: red;
}
.asideRigth  #cha:hover{
    background: red;
}

// fout
.fout{
    width: 100%;
    height: 600px;
    background:white
    clear: both;
    h3{
        text-align: center;
        padding: 50px 0;
        font-size: 32px;
    }
    .boxw{
        width: 1125px;
        margin: 0 auto 10px;
        .boxone{
            width: 280px;
            height: 376px;
            background: white;
            padding-bottom: 25px;
            float: left;
            .imgs{
                position: relative;
                img{
                    display: block;
                    width: 280px;
                    height: 280px;
                }
                .hac{
                    width: 180px;
                    height: 50px;
                    background: red;
                    color: white;
                    font-size: 18px;
                    text-align: center;
                    line-height: 50px;
                    position: absolute;
                    top:207px;
                    left: 62px;
                    display: none;
                }    
            } 
            .boty{
                width: 100%;
                height: 154px;
                h3{
                    font-size: 18px;
                    padding-top: 15px;
                    padding-bottom: 22px;
                    text-align: center;
                }
                .tg{
                    padding-bottom: 0;
                }
                a{
                    display: block;
                    text-align: center;
                    color: #589bc6;
                }
            }
        }
    }
    .bos{
        width: 162px;
        height: 40px;
        background: black;
        color: white;
        line-height: 40px;
        text-align: center;
        margin: 10px auto;
        clear: both;
    }
    
}



